/* 
    *Theme by: Pixelz Studio
    *Reference: https://dribbble.com/shots/18810076-Personal-Portfolio-Mobile-Responsive
    
 */
 
$theme-pixelzpf: (
    clr-primary:        #161313,
    clr-secondary:      #1E1E1E,
    clr-text-active:    #DADADA,
    clr-text-deactive:  #B2B2B2,
    clr-text-red:       #EB7A7A,
);