@use '../../abstracts/abstracts' as a;

.pj_details_hero {
    position: relative;
    min-height: 60vh;
}

.contents_overlay {
    position: absolute;
    z-index: 2;
    inset: 0;
    // border: solid 1px white;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    p {
        font-family: a.$ff-lobster;
        color: map-get(a.$theme-pixelzpf, clr-text-red);
        font-size: 22px;

        @include a.md {
            font-size: 26px;
        }
    }

    h1 {
        font-size: 26px;
        font-weight: 500;

        @include a.md {
            font-size: 34px;
        }
    }
}

