@use '../../abstracts/abstracts' as a;

.hero_section {
    padding: 16rem 0;
}

.figure {

    display: flex;
    flex-direction: column;
    align-items: center;

    .img_me {
        position: relative;
        border: solid 4px #b05c30;
        border-radius: 50%;
        overflow: hidden;
        width: 140px;
        height: 140px;
        transition: all .3s linear;

        img {
            transition: all .3s linear;
        }

        &:hover {
            // border: solid 4px #dadada;
            img {
                transform: scale(1.5);
            }
        }
    }

    figcaption {
        margin-top: 8px;
        text-align: center;
    }

    h3 {
        font-family: a.$ff-lobster;
        font-size: 28px;
        color: map-get(a.$theme-pixelzpf, clr-text-red);
        margin-top: 4px;
    }

    p {
        color: map-get(a.$theme-pixelzpf, clr-text-deactive);
        font-size: 12px;
    }

    ul {
        margin-top: 8px;
        display: inline-flex;
        justify-content: center;
        column-gap: 20px;
        font-size: 20px;
        color: map-get(a.$theme-pixelzpf, clr-text-active);
    }

    li, a {
        display: inline-flex;
    }
}
